{% block content %} {% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/edit-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit: %}
          <h1>Edit Post</h1>
          {% else: %}
          <h1>New Post</h1>
          <span class="subheading"
            >You're going to make a great blog post!</span>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post" novalidate>
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.subtitle.label(class="form-label") }}
            {{ form.subtitle(class="form-control") }}
            {% for error in form.subtitle.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.author.label(class="form-label") }}
            {{ form.author(class="form-control") }}
            {% for error in form.author.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.img_url.label(class="form-label") }}
            {{ form.img_url(class="form-control") }}
            {% for error in form.img_url.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.body.label(class="form-label") }}
            {{ form.body(class="form-control", id="editor") }}
            {% for error in form.body.errors %}
            <span style="color: red">{{ error }}</span>
            {% endfor %}
          </div>
          <br />
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('body');
</script>
{% include "footer.html" %} {% endblock %}
